/* https://colorhunt.co/palette/219f94c1deaef2f5c8e8e8a6 */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
    background-color: #F2F5C8;
}

.context {
    display: flex;
    flex-direction: column;
}

#banner {
    background-color: black;
    color: #219F94;
    padding: 10px 0px 10px 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 35vh;
}

#profpic {
    border-radius: 50%;
    max-height: 15vh;
    margin-right: 20px;
    border-color: #C1DEAE;
}

#wave {
    max-height: 10vh;
    margin-right: 20px;
}

#banner-name {
    text-align: left;
    font-size: larger;
}

#banner-transition {
    background: #aed5a7;
    height: 1.5vh;
}

.contents {
    display: flex;
    flex-direction: column;
    margin-top: 10vh;
    align-items: center;
}

#contents-op {
    text-align: justify;
    width: 40vw;
}

.card {
    margin: 0px 20vh 0px 20vh;
    display: flex;
    flex-direction: row;
}

#f1-card {
    align-items: center;
}

#foot-content-intro {
    margin-top: 7vh;
}

#foot-content {
    display: flex;
    flex-direction: row;
    margin-top: 5vh;
}

.foot-png {
    max-height: 15vh;
    margin: 0px 3vh 0px 3vh;
}

#cont2 {
    display: none;
}